* {
  margin: 0;
  padding: 0;
}

/* header start */

header {
  width: 98.72vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header end */

/* main section start */

main {
  width: 98.72vw;
  min-height: 100vh;
}

#section-header {
  width: 92%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  color: #092862;
}

.section-button {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 13px 7px;
}

.section-button:hover {
  background-color: #e1e4ec;
}

section hr {
  width: 92%;
  height: 0.2px;
  background-color: #b3bdce;
  margin: auto;
  margin-top: 0.5%;
}

#latest-news-body {
  width: 92vw;
  height: 80vh;
  margin: auto;
  margin-top: 2%;
}

.news {
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
  margin: auto;
}

.new {
  width: 25%;
  height: 100%;
  background-color: #f6f7f9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.new-img {
  width: 100%;
  height: 57%;
  background-image: url(assets/images/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.new:nth-child(2) .new-img {
  background-image: url(assets/images/2.jpg);
}

.new:nth-child(3) .new-img {
  background-image: url(assets/images/3.jpg);
}

.new:nth-child(4) .new-img {
  background-image: url(assets/images/4.jpg);
}

.new-detail {
  width: 85%;
  height: 40%;
  margin: auto;
  margin-top: 5%;
  font-family: sans-serif;
  color: #00205c;
}

.publish-date {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9em;
}

.news-title {
  font-size: 1.2em;
  font-weight: bold;
}

.new:hover {
  outline: 2px solid #7082a4;
  background-color: #e7eaef;
}

/* news section end */

/* emergency section start */

.emergency {
  width: 98.72vw;
  height: 80vh;
  margin-top: 5%;
}

#emergency-body {
  width: 92%;
  height: 70%;
  margin: auto;
  margin-top: 3.5%;
}

.emergencies {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3%;
}

.emergency-a {
  width: 25%;
  height: 90%;
  max-width: 100%;
  font-family: sans-serif;
  color: #3c4245;
  font-weight: bold;
}

.emergency-a:first-child {
  height: 90%;
}

.emergency-a:last-child {
  height: 90%;
}

.emergency-heading {
  font-size: 1.25em;
  padding-bottom: 3%;
}

.emergency-detail {
  width: 100%;
  height: 87%;
  margin-top: 2%;
  background-color: #f6f7f9;
  cursor: pointer;
  border: 2px solid #f6f7f9;
}

.emergency-img {
  width: 100%;
  height: 68%;
  border-bottom: 3px solid #00205c;
  background-image: url(assets/images/e_1.jpg);
  background-position: center;
  background-size: cover;
}

.emergency-a:nth-child(2) .emergency-img {
  background-image: url(assets/images/e_2.jpg);
}

.emergency-a:nth-child(3) .emergency-img {
  background-image: url(assets/images/e_3.jpg);
}

.emergency-a:nth-child(4) .emergency-img {
  background-image: url(assets/images/e_4.jpg);
}

.emergency-title {
  width: 80%;
  height: 32%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  align-items: center;
}

.emergency-title span {
  padding: 5px;
}

.emergency-detail:hover {
  outline: 2px solid #7082a4;
  outline-offset: -2px;
  background-color: #e7eaef;
}

.emergency-detail:hover .emergency-title span {
  outline: 2px solid #b3bdce;
  background-color: #e7eaef;
}

/* emergency section end */

/* other sections start */






/* Done by Abdullah */
/* other section 1 csss start */

@font-face {
  font-family: othersection;
  src: url(assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
.gridother1{
  display: grid;
  height: 100vh;
  width: 90vw;
  margin: auto;
  position: relative;
  grid-template: "g1 g2 g3"
  "g4 g5 g6";
  row-gap: 5%;
  column-gap: 5%;
}
.gridpart:nth-child(1){
  grid-area: g1;
}
.gridpart:nth-child(2){
  grid-area: g2;
}
.gridpart:nth-child(3){
  grid-area: g3;
}
.gridpart:nth-child(4){
  grid-area: g4;
}
.gridpart:nth-child(5){
  grid-area: g5;
}
.gridpart:nth-child(6){
  grid-area: g6;
}
.gridpart{
  margin-left: 0%;
  position: absolute;
  background-color: rgb(247, 245, 245);
  height: 100%;
  width: 100%;
}
.gridpart:hover{
  border: 1px solid rgb(233, 232, 232);
  background-color: rgb(228, 227, 227);
}
.gridpart p{
  font-size: 30px;
  font-weight: bold;
  color: rgb(9,40,144);
  font-family: othersection;
}
.gridpart img{
  width: 100%;
  height: 70%;
}
.gridpart p#osdes{
  width: fit-content;
  font-size: 20px;
  color: rgb(9,40,144);
  font-family: othersection;
}

/* Other section 1 css end */





/* Other section 2 css start */


.other2 {

  width: 98.72vw;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.os2left,.os2right{
  height: 100%;
  position: relative;
  display: block;
  
}
.os2left{
  width: 45%;
  margin: auto;
  padding-inline: 50px;
}
.os2left .campaigns{
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: auto;
}
.os2p1{
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
  height: auto;
}
#os2p1{
  text-align: left;
  margin-top: 1%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(9,40,144);
  font-family: othersection;
}
#os2p1t{
  font-family: othersection;
  text-align: left;
}
.os2p1 img{
  width: 90%;
}

p.toptext{
  font-family: othersection;
  font-size: 40px;
  font-weight: bold;
  color: #00205c;
}
p.toptext2{
  font-family: othersection;
  font-size: 40px;
  font-weight: bold;
  color: #00205c;
}


.os2right{
  padding-inline: 50px;
  width: 55%;
  margin: auto;
  font-family: othersection;
}
.events{
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 02%;
}
.listing{
  left: 20px;
  margin-top: 1%;
  display: flex;
  position: relative;
  background-color: rgb(246,247,249);
  width: 95%;
  height: 14%;
}
.listing:hover{
  border: 1px solid rgb(0,32,92);
}
.listing img{
  width: 150px;
  height: 110px;
}
.listing p#t1st{
  font-family: othersection;
  font-size: 15px;
  font-weight: bold;
  color: #00205c;
  margin-left: 10px;
}
.listing p#t2nd{
  position: absolute;
  top: 80px;
  font-size: 15px;
  left: 180px;
}



/* Wrap-up by Abdullah */



/* other sections end */

/* footer start */

footer {
  width: 98.72vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b2b64;
  color: white;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.footer-main {
  margin-top: 15px;
}

.regions-wala {
  position: relative;
  left: -245%;
  top: 180px;
}

.africa {
  list-style: none;
  line-height: 22px;
}

.regions-wala h1 {
  margin-bottom: 25px;
  padding: 0.25rem;
  width: fit-content;
  font-size: 2em;
  font-weight: 900;
}

.africa li {
  width: fit-content;
  padding: 0.25rem;
  font-size: 1.1;
}

.footer2 {
  position: relative;
  top: -60px;
  left: -90%;
}

.policies-wala {
  line-height: 29px;
  list-style: none;
}

.policies-wala h1 {
  margin-bottom: 27px;
  padding: 0.25rem;
  width: fit-content;
  font-size: 2em;
  font-weight: 900;
}

.cyber-security {
  list-style: none;
}

.cyber-security li {
  padding: 0.25rem;
  width: fit-content;
  font-size: 1.1;
}

.footer3 {
  position: relative;
  left: 71%;
  top: -304px;
}

.about-us {
  line-height: 29px;
  list-style: none;
}

.about-us h1 {
  margin-bottom: 27px;
  padding: 0.25rem;
  width: fit-content;
  font-size: 2em;
  font-weight: 900;
}

.careers {
  list-style: none;
}

.careers li {
  width: fit-content;
  padding: 0.25rem;
  font-size: 1.1;
}

.footer4 {
  position: relative;
  left: 214%;
  top: -548px;
}

.contact-us {
  line-height: 29px;
  list-style: none;
}

.contact-us h1 {
  margin-bottom: 27px;
  padding: 0.25rem;
  width: fit-content;
  font-size: 2.3em;
}
.contact-us h3 {
  padding: 9px 25px 9px 25px;
  width: fit-content;
  background-color: #2a4577;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.contact-us h3:hover {
  border: 2px solid #0078d4;
}
.img-wala {
  position: absolute;
  width: 330px;
  left: 440px;
  top: 330px;
}
.img-wala img:hover {
  padding: 0.25rem;
  background-color: #0078d4;
  border: 2px solid gray;
}
footer li:hover {
  background-color: #0078d4;
}
footer h1:hover {
  background-color: #0078d4;
}

.bottom-header {
  width: 98.72vw;
  height: 18%;
  position: absolute;
  bottom: 0;
  display: flex;
  color: white;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #274375;
}
.icon-header i {
  padding: 10px;
  color: white;
}
.icon-header i:hover {
  background-color: #0078d4;
}
.bottom-header h1 {
  margin-left: 40px;
  padding: 0.25rem;
}
.bottom-header h2 {
  margin-right: 40px;
}
/* footer end */
